a {
	text-decoration: none !important;
	color: #666666;
}

a: hover {
	color: #444444;
}

a: visited {
	color: #222222;
}

@media only screen and (max-width: 767px) {
	#description {
		font-size: 1.3em;
		font-family: "Raleway", 'PT Sans', sans-serif;
	}
}


@media only screen and (min-width: 767px) {
	#description {
		font-size: 1.5em;
		/*font-family: 'PT Sans', "Raleway", sans-serif;*/
		font-family: "Raleway", 'PT Sans', sans-serif;
	}
}
